
.container_footer{
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    color: #3f8582;
    font-size: 30px;
    margin-top: 20px;
    font-weight: lighter;
}
.container_footer_coloumn_1{
    width: 500px;
}

.container_footer_coloumn_2{
    display: flex;
}
.footer_list_items{
    padding-left: 0;
    padding-right: 20px;
    line-height: 35px;
}
.footer_list_items>li>a{
    color: #3f8582;
}
.fa-brands{
    padding-right: 10px;
}