.section{
    display: flex;
    /* margin-top: 60px; */
    height: 600px;

}
.section_banner{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
  
}
/* .section_banner_bg{
    position: absolute;
    left: 206px;
    top: 42px;
    z-index: 0;
} */
.img_section_banner{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: 200px;
    /* position: absolute; */
}
.section_text{
    font-size: 1.2rem;
    width: 50%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_text_title{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    color:#4f9894;
}
.section_text_p{
    color:#7a9390;
    font-weight: 500;
    width: 400px;
    text-align: center;
    margin-top: -42px;
}
.section_text_btn{
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: #4e9893;
    text-transform: uppercase;
    color:#fff;
    cursor: pointer;
    border: 1px solid #fff;
}
.section_text_btn:hover{
    color:#4f9894;
    background-color: #fff;
    border: 1px solid #4f9894;
}
/* our_starts */
.container_our_starts{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#4f9894;
    height: 100%;
    padding-bottom: 150px;
    /* margin-top: 60px; */
    background-image: url('../img/backgroudImg.png');
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.container_our_starts::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}
.container_our_starts>*{
    position: relative;
    z-index: 2; 
}
.container_our_starts_title{
    font-size: 45px;
    text-transform: uppercase;
}
.container_our_starts_p{
    width:500px;
    text-align: center;
}
/*  */
.section_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 80px;
  
}
.section_2>img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    
}
.section_2>p{
    font-size: 30px;
    width: 600px;
    text-align: center;
    color:#4e9893;
    font-weight: 200;
}
.section_2>h1{
    color: #4f9894;
    text-transform: uppercase;
    font-weight: bolder;
}